/* Navbar CSS*/
.navbar {
  overflow: hidden;
  background-color: #222;
  position: fixed;
  top: 0vw;
  left: 0vw;
  width: 102%;
  border-bottom-style: solid;
  opacity: 0.9;
  margin: 0vw;
  padding: 0vw;
  height: 3.9vw;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 0.8vw 1.481vw;
text-decoration: none;
font-size: 1.6vw;
font-family: arial black;
}

.navbar a:hover {
background: #ddd;
color: black;
}

.barrier {
	margin: 3.5vw;
	height: 1vw;
}

#img_container {
	float: left;
    display: block;
	background: #333;
    text-align: center;
    padding: 0.8vw 1.481vw; 
	height: 3vw;
}

#img_container img {
	height: 3vw;
	position: relative;
	bottom: 0.3vw;
	filter: invert(0%);
}

#img_container:hover {
    background-color: rgb(83, 83, 83);
    filter: invert(100%)
}

/* Standard Box CSS */
.standard {
	border: 0.741vw solid white;
	margin: 4.630vw;
	padding: 1.5vw;
	font-family: arial;
	text-align: justify;
}

.standard p {
	font-size: 1.2vw;
}

/* CSS for lists */
.list ul {
	display: inline-block;
	text-align: left;
	list-style: square;
}

.list ul a {
	font-size: 1.4vw;
}

.list li {
	margin-bottom: 0.8vw;
}

.list {
	text-align: center;
}

.list ul p {
    font-size: 1.5vw;
  }

/* Footer CSS */
.footer {
	margin: 1vw;
	margin-bottom: 2vw;
	padding: 0vw;
	font-family: arial;
}

.footer p {
	float: left;
	margin: 0.6vw;
	font-size: 1vw;
}

/* Body CSS */
body {
background-color: #333; 
color: white;
text-align: center;
font-family: arial;
font-size: 1vw;
}


a {
	text-decoration: underline;
	color:white;
}
	
.body_standard {
	padding: 0vw;
}

.book_container img {
	height: 1vw;
}

.book_container {
	padding: 1vw;
}

/* About.html */

#about_logo {
	height: 12vw;
}

.about_logo {
	text-align: center;
	margin: 4vw;
}

/*earthkam.html*/

.earthkam_images {
	margin: 1vw;
	padding: 1vw;
}

.earthkam_images table {
	text-align: center;
	margin: 0.5vw;

}

.earthkam_images img {
	width: 29.6vw;
}

.earthkam_images td {
	margin: 0vw;
	padding: 0.6vw;
}

.earthkam_images p {
	margin: 1vw;
}

/* book.html */

#book_page_image {
	width: 65vw;
}

/*index.html*/
.twitterfeed {
	border: 0.741vw solid white;
	margin: 2vw;
	padding: 2vw;
	text-align: center;
}

.twitter-timeline {
	float: center;
	text-align: center;
	display: block;
	width: 100%;
	height: 25vw !important;
	

}

#clock {
	text-decoration: none;
	font-size: 2.5vw;
	font-weight: 700;
	font-family: silkscreen;
}

