.header {
text-align: center;
font-size: 35px;
margin: 30px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0px;
  width: 102%;
  border-bottom-style: solid;
  
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 23px;
font-family: arial black;
}

.navbar a:hover {
background: #ddd;
color: black;
}
#logotext {
float: right;
position: absolute;
left: 1310px;
top: -10px;
font-size:23px;
}
#logo {
height: 60px;
position: absolute;
top: 0vw;
left: 70vw;
}
.main-text {
text-decoration: none;
font-size: 30px;
text-align: center;
font-family: arial black;
padding: 30px;
margin: 50px;
}
.main-text2 {
text-decoration: none;
font-size: 15px;
text-align: center;
font-family: arial black;
padding: 40px;
margin: 50px;
}
#button2 {
float: center;
color: #f2f2f2;
text-align: center;
padding: 14px;
text-decoration: none;
border: 3px solid white;
font-family: arial black;

}
#button2:hover {
background: #ddd;
color: black;
border: 10px solid #ddd;
}
.text {
font-size: 20px;
}
.images {

}
#image {
height:300px;
}
.main {
	padding:20px;
	margin:50px;
	text-align:center;
	font-family: arial black;
	font-size: 25px;
}
.iframe {
	margin: 10px;
}
