/* universal CSS*/
.navbar {
  overflow: hidden;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0px;
  width: 102%;
  border-bottom-style: solid;
  opacity: 0.9;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 23px;
font-family: arial black;
}

.navbar a:hover {
background: #ddd;
color: black;
}

/*specifies that background color will always be the same.*/
body {
background-color: #333; color: white;
}

.main {
	padding:1.852vw;
	margin:4.630vw;
	text-align:center;
	font-family: arial;
	font-size: 2vw;
}

.main a {
	font-size: 40px;
}

a {
	text-decoration: underline;
	color:white;
}
	
	/*index.html*/
	
.earthkam {
	padding: 0px;
}

#sofiabotimage {
	border-radius: 45px;
	height: 12vw;
	margin: 0.648vw;
	border: 0.370vw solid white;
}

.earthkamimgs {
	height:340px;
	margin:0.648vw;
	border-radius: 2vw;
	border: 0.370vw solid white;
}

.standard {
	margin: 20px;
	text-decoration: none;
}

/*projects.html*/
.list_projects {
	margin: 20px;
	border: 4px solid white;
	border-radius: 20px;
	list-style: none;
}

.list_projects ol {
	list-style: none;
}

.list_projects ol li {
	margin: 10px;
	font-size: 20px;
}

/*contact.html*/
.contactbox p {
	font-size: 20px;
	text-decoration: none;
}

.contactbox {
	margin: 20px;
	border: 4px solid white;
	border-radius: 20px;
	font-size: 20px;
}

.contactbox a {
	font-size: 20px;
	text-decoration: underline;
}

/*discordserver.html*/
.discordserver {
    margin: 20px;
    border: 4px solid white;
	border-radius: 20px;
	font-size: 20px;	
}

.discordserver a {
    margin: 20px;
	font-size: 20px;	
}

.comingsoon {
	
}

.comingsoon img {
	width: 50vw;
}

.allstuff {
	border: 0.741vw solid white;
	margin: 2vw;
	padding: 60px;
}

.indextitle {
	border: 0.741vw solid white;
	margin: 2vw;
	padding: 15px;
}

.indexbox {
	border: 0.741vw solid white;
	margin: 2vw;
	padding: 2vw;
}

.twitterfeed {
	border: 0.741vw solid white;
	margin: 2vw;
	padding: 2vw;
	text-align: center;
}

.twitter-timeline {
	float: center;
	align: center;
	text-align: center;
	display:block;
}

.youtubebox {
	margin: 1vw;
	padding: .5vw;
}

#clock {
	text-decoration: none;
	font-size: 2.5vw;
	font-weight: 700;
	font-family: silkscreen;
}
