/* universal CSS*/
.navbar {
  overflow: hidden;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0px;
  width: 102%;
  border-bottom-style: solid;
  opacity: 0.9;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 23px;
font-family: arial black;
}

.navbar a:hover {
background: #ddd;
color: black;
}

/*specifies that background color will always be the same.*/
body {
background-color: #333; color: white;
}

.main {
	padding:20px;
	margin:50px;
	text-align:center;
	font-family: arial black;
	font-size: 25px;
}

.main a {
	font-size: 40px;
}

a {
	text-decoration: underline;
	color:white;
}
	
	/*index.html*/
	
.earthkam {
	padding:10px;
}

#sofiabotimage {
	border-radius: 60px;
	height: 250px;
	margin: 20px;
	border: 4px solid white;
}

.earthkamimgs {
	height:400px;
	margin:20px;
	border-radius: 30px;
	border: 4px solid white;
}

.standard {
	margin:20px;
	text-decoration: none;
}

/*earthkam.html*/
#image {
	height: 300px;
}

/*projects.html*/
.list_projects {
	margin: 20px;
	border: 4px solid white;
	border-radius: 20px;
	list-style: none;
}

.list_projects ol {
	list-style: none;
}

.list_projects ol li {
	margin: 10px;
	font-size: 20px;
}

/*contact.html*/
.contactbox p {
	font-size: 20px;
	text-decoration: underline;
}

.contactbox {
	margin: 20px;
	border: 4px solid white;
	border-radius: 20px;
	font-size: 20px;
}

.contactbox a {
	font-size: 20px;
	text-decoration: underline;
}

/*discordserver.html*/
.discordserver {
    margin: 20px;
    border: 4px solid white;
	border-radius: 20px;
	font-size: 20px;	
}

.discordserver a {
    margin: 20px;
	font-size: 20px;	
}
